


# this if for dot files repo
# ignore everything 
*

# except these files
!.vimrc
!.vimperatorrc
!.gdbinit
!.bashrc
!.bash_profile
!.bash_common
!.gitignore
!.Xdefaults
!.bashrc_aliases
!.inputrc
!.xbindkeysrc.scm
!.gitignore_global

